# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/

# Entornos
.venv/
env/
venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Build
dist/
build/

# Notas personales
notas.txt
.DS_Store
.venv/
